*.pyc
.CHANGELOG.md.swp
.ropeproject/
dist/
examples/notebooks/.ipynb_checkpoints/
examples/python/
mapclassify.egg-info/
mapclassify/.ropeproject/
mapclassify/datasets/calemp/.ropeproject/
mapclassify/tests/.ropeproject/
.DS_Store
.vscode/settings.json
__pycache__
3.0.ipynb
README.html
Untitled1.ipynb
boros_with_holes.png
colormaker.ipynb
docs/.buildinfo
docsrc/_build/
docsrc/generated/
docsrc/make.bat
docsrc/spec-file.txt
holes.png
lazy.ipynb
mapclassify/.ipynb_checkpoints/
mapclassify/deprecation.py
mapclassify/img/
mapclassify/selected.png
notebooks/.ipynb_checkpoints/
notebooks/Untitled.ipynb
notebooks/Untitled1.ipynb
notebooks/b16.ipynb
notebooks/chorobrewer.py
notebooks/color_images.ipynb
notebooks/colormaker.ipynb
notebooks/crime.png
notebooks/hr60fj10.png
notebooks/hr60mb10.png
notebooks/hr60q10.png
notebooks/legends.ipynb
notebooks/repr.ipynb
notebooks/selected.png
notebooks/set1_9.png
notebooks/test.png
notebooks/test.py
nyc.png
nyc_hull.png
selected.png
tools/changelog_2.0.1.md
tools/changelog_2.1.0.md
tools/changelog_2.2.0.md