[build-system]
requires = ["setuptools>=61.0", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]

[project]
name = "mapclassify"
dynamic = ["version"]
maintainers = [
    { name = "Serge Rey", email = "sjsrey@gmail.com" },
    { name = "Wei Kang", email = "weikang9009@gmail.com" },
]
license = { text = "BSD 3-Clause" }
description = "Classification Schemes for Choropleth Maps."
keywords = ["spatial statistics", "geovisualization"]
readme = { text = """\
`mapclassify` implements a family of classification schemes for choropleth maps.
Its focus is on the determination of the number of classes, and the assignment
of observations to those classes. It is intended for use with upstream mapping
and geovisualization packages (see `geopandas`_ and `geoplot`_)
that handle the rendering of the maps.

For further theoretical background see "`Choropleth Mapping`_" in Rey, S.J., D. Arribas-Bel, and L.J. Wolf (2020) "Geographic Data Science with PySAL and the PyData Stackâ€.

.. _geopandas: https://geopandas.org/mapping.html
.. _geoplot: https://residentmario.github.io/geoplot/user_guide/Customizing_Plots.html
.. _Choropleth Mapping: https://geographicdata.science/book/notebooks/05_choropleth.html
""", content-type = "text/x-rst" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: GIS",
]
requires-python = ">=3.11"
dependencies = [
    "networkx>=3.2",
    "numpy>=1.26",
    "pandas>=2.1",
    "scikit-learn>=1.4",
    "scipy>=1.12",
]

[project.urls]
Home = "https://pysal.org/mapclassify/"
Repository = "https://github.com/pysal/mapclassify"

[project.optional-dependencies]
speedups = [
    "numba>=0.58"
]
dev = [
    "ruff",
    "pre-commit",
    "watermark",
]
docs = [
    "nbsphinx",
    "numpydoc",
    "sphinx>=1.4.3",
    "sphinx-gallery",
    "sphinxcontrib-bibtex",
    "sphinx_bootstrap_theme",
]
spatial = [
    "geopandas",
    "libpysal",
    "matplotlib",
    "shapely",
]
notebooks = [
    "mapclassify[spatial]",
    "geodatasets",
    "ipywidgets",
    "jupyterlab",
    "lonboard",
    "pyarrow",
    "pydeck",
    "seaborn",
]
tests = [
    "mapclassify[spatial]",
    "pytest",
    "pytest-cov",
    "pytest-xdist",
    "pytest-doctestplus",
]
all = ["mapclassify[speedups,dev,docs,notebooks,tests]"]

[tool.setuptools.packages.find]
include = ["mapclassify", "mapclassify.*"]


[tool.ruff]
line-length = 88
extend-include = [
    "*.ipynb", "docs/conf.py"
]

[tool.ruff.lint]
select = ["E", "F", "W", "I", "UP", "N", "B", "A", "C4", "SIM", "ARG"]
ignore = [
    "B006", # Do not use mutable data structures for argument defaults
]

[tool.ruff.lint.per-file-ignores]
"*__init__.py" = [
    "F401",  # imported but unused
    "F403",  # star import; unable to detect undefined names
]
"_classify_API.py" = [
    "N999",  # Invalid module name
]
"*.ipynb" = [
   "C416",  # Unnecessary dict comprehension (rewrite using `dict()`)
   "F401",  # imported but unused
]
"*tests/test_*.py" = [
   "A004",  # Import is shadowing a Python builtin
   "N802",  # Function name should be lowercase
]
"docs/conf.py" = [
   "A001",  # Variable is shadowing a Python builtin
]

[tool.coverage.run]
source = ["./mapclassify"]

[tool.coverage.report]
exclude_lines = [
    "if self.debug:",
    "pragma: no cover",
    "raise NotImplementedError",
    "except ModuleNotFoundError:",
    "except ImportError",
]
ignore_errors = true
omit = ["mapclassify/tests/*", "docs/conf.py"]
