name: Continuous Integration

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "59 21 * * *"

jobs:
  testing:
    name: (${{ matrix.os }}, ${{ matrix.environment-file }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        environment-file:
          [
            ci/39-min.yaml,
            ci/39.yaml,
            ci/39-numba.yaml,
            ci/310.yaml,
            ci/310-numba.yaml,
            ci/311.yaml,
            ci/311-numba.yaml,
            ci/312.yaml,
            ci/312-numba.yaml,
            ci/312-dev.yaml,
          ]
        include:
          - environment-file: ci/312.yaml
            os: macos-latest
          - environment-file: ci/312-numba.yaml
            os: macos-latest
          - environment-file: ci/312.yaml
            os: windows-latest
          - environment-file: ci/312-numba.yaml
            os: windows-latest
      fail-fast: false

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: 'latest'

      - name: environment info
        run: |
          micromamba info
          micromamba list

      - name: spatial versions
        run: |
          python -c "import geopandas; geopandas.show_versions();"

      - name: Run pytest
        run: |
          pytest mapclassify -r a -v -n auto --cov mapclassify --cov-report xml --color yes --cov-append --cov-report term-missing

      - name: run docstring tests
        if: contains(matrix.environment-file, '312-numba') && contains(matrix.os, 'ubuntu')
        run: |
          pytest \
          -v \
          -r a \
          -n auto \
          --color yes \
          --cov mapclassify --cov-report xml --cov-append \
          --doctest-only \
          --mpl mapclassify

      - name: codecov (${{ matrix.os }}, ${{ matrix.environment-file }})
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: mapclassify-codecov
