name: Continuous Integration

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "59 21 * * *"

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: pre-commit/action@v3.0.0
  testing:
    needs: linting
    name: (${{ matrix.os }}, ${{ matrix.environment-file }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        environment-file:
          [
            ci/38.yaml,
            ci/38-numba.yaml,
            ci/39.yaml,
            ci/39-numba.yaml,
            ci/310.yaml,
            ci/310-numba.yaml,
            ci/311.yaml,
            ci/311-dev.yaml,
          ]
        include:
          - environment-file: ci/311.yaml
            os: macos-latest
          - environment-file: ci/310-numba.yaml
            os: macos-latest
          - environment-file: ci/311.yaml
            os: windows-latest
          - environment-file: ci/310-numba.yaml
            os: windows-latest
      fail-fast: false

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: 'latest'

      - name: environment info
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list

      - name: spatial versions
        shell: bash -l {0}
        run: |
          python -c "import geopandas; geopandas.show_versions();"

      - name: Run pytest
        run: |
          pytest mapclassify -r a -v -n auto --doctest-modules --cov mapclassify --cov-config .coveragerc --cov-report xml --color yes --cov-append --cov-report term-missing

      - name: codecov (${{ matrix.os }}, ${{ matrix.environment-file }})
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: mapclassify-codecov
