on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "59 21 * * *"

jobs:
  unittests:
    name: (${{ matrix.os }}, ${{ matrix.env }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        env:
          [
            ci/36.yaml,
            ci/36-numba.yaml,
            ci/37.yaml,
            ci/37-numba.yaml,
            ci/38.yaml,
            ci/38-numba.yaml,
            ci/39.yaml,
            ci/39-numba.yaml,
            ci/310.yaml,
            ci/310-numba.yaml,
          ]
        include:
          - env: ci/39.yaml
            os: macos-latest
          - env: ci/39-numba.yaml
            os: macos-latest
          - env: ci/39.yaml
            os: windows-latest
          - env: ci/39-numba.yaml
            os: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: ${{ matrix.env }}
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true
          activate-environment: test

      - name: Check and Log Environment
        run: |
          conda info --all
          conda list
          conda config --show-sources
          conda config --show

      - name: Run pytest
        run: pytest mapclassify --cov mapclassify -v --cov-report=xml

      - name: codecov (${{ matrix.os }}, ${{ matrix.env }})
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: mapclassify-codecov
